.left-bg{
    position: relative;
    width: 40vw;
    height: 100vh;
    background-color: #19201A;
}

.container-fg{
    position: absolute;
    width: 1000px;
    height: 500px;
    top:calc(50% - 250px);
    left:calc(50% - 500px);
    box-shadow: rgb(65, 210, 14) 0px 0px 20px;
    display: flex;
}

.left-fg-box{
    width: 350px;
    opacity: 0;
    height: 100%;
}

.left-fg{
    width: 350px;
    height: 100%;
}

.brand-container{
    position: relative;
    top:calc(-70%);
    left:calc(50% - 175px);
}

.logo{
    position: relative;
    left:calc(50% - 60px);
    top:calc(50% - 100px);
    border-radius: 50%;
    box-shadow: rgb(65, 210, 14) 0px 0px 20px;
}

.brand-name{
    color:  rgb(65, 210, 14);
    font-size: 50px;
    font-weight: bold;
    position: relative;
    left:calc(50% - 80px);
}

.tabs{
    list-style: none;
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
    font-size: 35px;
}

.tab{
    width: 200px;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.tab:hover{
    background-color: rgb(219, 236, 218);
    cursor: pointer;
}

.active{
    background-color: rgb(219, 236, 218);
}